
:root[data-theme="light"] {
  --claude-orange: #FF6B35;
  --claude-orange-light: #FF8C42;
  --claude-cocoa: #4A4A4A;
  --text-primary: #1F1F1F;
  --background-primary: #FFFFFF;
  --background-secondary: #F0F0F0;
  --page-background: #2d2d2d;
  --operator-btn: #EB6666;
  --action-btn: #2ac4aa;
}

:root[data-theme="dark"] {
  --claude-orange: #FF9A56;
  --claude-orange-light: #FFB380;
  --claude-cocoa: #B8B8B8;
  --text-primary: #FFFFFF;
  --background-primary: #1A1A1A;
  --background-secondary: #2D2D2D;
  --page-background: #f2f1f1;
  --operator-btn: #EB6666;
  --action-btn: #26FED7;
}